{% extends "baseLoginRegister.html" %}
{% block stylesheets %}
<style>
    body {
      background-color: #f8f9fa;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .login-container {
      max-width: 600px;
      width: 100%;
      padding: 2rem;
      background: white;
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    }
    .login-container ul {
      list-style: none;
      padding: 0;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      margin: 0;
      background: #c4092b;
      border-radius: 0.5rem;
      padding: 1rem;
    }
    .login-container ul li {
      margin-bottom: 0.5rem;
        color: white;
    }

    .login-container img {
      width: 100px;
      height: auto;
      display: block;
      margin: 0 auto 1rem;
    }

</style>
{% endblock stylesheets %}


{% block content %}
<div class="login-container">
    {% load static %}
    <img src="{% static 'users/logo.png' %}" alt="Logotipo">
    <h2 class="text-center mb-4">Iniciar Sesión</h2>
    <form action="" method="post" class="w-50 mx-auto">
        {% csrf_token %}
        {{ form.as_p}}
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>
    </form>
    <div class="text-center mt-3">
        <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
    </div>
    {% if messages %}
        <div class="alert alert-info mt-3">
            {% for message in messages %}
                <p>{{ message }} ss</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}
